                                                                                                                                           # History files
.Rhistory
.Rapp.history
*.RData
*.DS_Store
*.Rhistory

*_cache/
/cache/
*.html

.Renviron

